
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="mt-2">
    <h2>Hosgeldiniz. Giris yapmak icin asagidaki linki kullanabilirsiniz.</h2>
    @Html.ActionLink("Giris Yap", "Login")
</div>
