


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddUser</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <form method="post">
                <div class="col-md-9">
                    <div class="card">
                        <label>UserName:</label>
                        <input type="text" name="Username" />

                        <label>FirstName:</label>
                        <input type="text" name="FirstName" />

                        <label>LastName:</label>
                        <input type="text" name="LastName" />

                        <label>Email:</label>
                        <input type="text" name="Email" />

                        <label>Password</label>
                        <input type="password" name="Password" />
                    </div>
                    <button type="submit">Add User</button>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
