

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Update</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <div class="container">
        <div class="row">
            <form method="post">
                <div class="col-md-9">
                    <div class="card">
                        <label>New UserName:</label>
                        <input type="text" name="Username" />

                        <label>New FirstName:</label>
                        <input type="text" name="FirstName" />

                        <label>New LastName:</label>
                        <input type="text" name="LastName" />

                        <label>New Email:</label>
                        <input type="text" name="Email" />

                        <label>New Password</label>
                        <input type="text" name="Password" />
                    </div>
                    <button type="submit">Update</button>

                    <a href="/AppUser/Index">Anasayfaya Don</a>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
